<h1>Product Import</h1>
<div class="row">
  <p>A CSV or Excel file can be used to import records. The first row should be the column name. The following columns are allowed.</p>

  <ul>
    <% Product.columns.each do |column| %>
      <% if column.name.in? ["id", *@import_columns] %>
        <li>
          <strong><%= column.name %></strong> -
          <%= column.type.to_s.titleize %> type
        </li>
      <% end %>
    <% end %>
  </ul>
  <p>If an <strong>id</strong> is supplied it will update the matching record instead of creating a new one.</p>
</div>

<div class="row import-products">
  <%= form_for @product_import, class: 'form-inline' do |f| %>
    <% if @product_import.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@product_import.errors.count, "error") %> prohibited this import from completing:</h2>
        <ul>
        <% @product_import.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.file_field :file %>
    <%= f.submit "Import", class: 'btn btn-primary' %>
  <% end %>
</div>