<div class="row">
  <div class="col-sm-3 col-md-2 col-lg-2 sidebar">
  <h4 class="page-header">Overview</h4>
    <ul class="nav nav-sidebar">
      <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
    </ul>
  </div>
  <div class="col-sm-9 col-md-10 col-lg-10 main">
    <h4 class="page-header">Products (<small><%= link_to 'New product', new_product_path %> | <%= link_to "Import products", new_product_import_path %></small>)</h4>
    <div class="row table-products">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Title</th>
              <th>Price</th>
              <th>Sales Count</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @products.each do |product| %>
              <tr>
                <td><%= product.id %></td>
                <td><%= product.title %></td>
                <td><%= number_to_currency(product.price) %></td>
                <td><%= product.sales_count %></td>
                <td>
                  <%= link_to product_path(product) do %><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;<% end %>
                  <%= link_to edit_product_path(product) do %><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;<% end %>
                  <%= link_to product, method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <i class="fa fa-times" aria-hidden="true"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <h4 class="page-header">Messages</h4>
    <div class="row table-messages">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Message</th>
              <th>Sent</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @messages.each do |message| %>
              <tr>
                <td><%= message.name %></td>
                <td><%= message.email %></td>
                <td><%= message.body %></td>
                <td><%= time_ago_in_words(message.created_at) %></td>
                <td>
                  <%= link_to message, method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <i class="fa fa-times" aria-hidden="true"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>