<!-- Jumbotron Header -->
 <header class="jumbotron unspacer">
   <h1>Welcome to the Codeplace Store</h1>
   <p>Our awesome store is just one click away.</p>
   <p><%= link_to 'See Products', products_path, class: 'btn btn-primary btn-large' %>
   </p>
 </header>

 <hr>

<!-- Title -->
<div class="row unspacer">
    <div class="col-lg-12">
        <h3>Latest from our store</h3>
    </div>
</div>
<!-- /.row -->

<!-- Page Features -->
<div class="row text-center">
  <% @latest.each do |product| %>
  <div class="col-md-3 col-sm-6 feature">
    <div class="thumbnail">
      <img src="http://placehold.it/800x500" class="img-responsive">
      <div class="caption">
        <h3><%= product.title.truncate(55) %></h3>
        <p><%= product.description.truncate(100) %></p>
        <p>
          <%= link_to 'More', product_path(product), class: "btn btn-default" %>
        </p>
      </div>
    </div>
  </div>
  <% end %>
</div>
<!-- /.row -->
