body {
  padding-top: 70px;
}

.actions {
  margin-top: 15px;
}

.input-group {
  margin: 5px 0;
}
.input-group-addon {
  i.fa-user {
    margin-right: 2px;
    padding-left: 2px;
  }
}

.btn-submit {
  margin-top: 10px;
}

.import-products {
  form {
    & > * {
      display: inline;
    }
  }
}